.bg-image{ 
    height: 100vh;
    background-image: url("/background.jpg"); /* Image in public folder */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

